body {
    background-image: url("https://source.unsplash.com/random/1900x1200/?amanita");
    color: #fffff0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

canvas {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

h2, h5 {
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h5 {
  font-style: italic;
}